{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title%} {% endblock%}</title>
	<link rel="stylesheet" href="{% static 'foodtaskerapp/css/materialize.min.css' %}">
	<script src="{% static 'foodtaskerapp/js/materialize.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'foodtaskerapp/css/style.css' %}">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col s12 s9 s6 s3">
				<br/>
				<br/>
					{% block sidebar%} {% endblock%}
					{% block content%} {% endblock %}
			</div>
		</div>
	</div>
	
</body>
</html>