{% extends 'foodtaskerapp/restaurant/base.html' %}
{% block title %} Restaurant | Meal {% endblock title %}

{% block content%}
	<div class="main">
		<div class="card">
			<div class="card-title bg-blue">
				<h4 class="center"> Meals </h4>
			</div>
			<div class="card-content">
				<div class="right">
					<a href="{% url 'restaurant-add-meal' %}" class="btn btn-pink">Add Meal</a>
					<br/>
					<br/>
				</div>
				<table class="table striped highlight responsive-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Short Description</th>
							<th>Price</th>
							<th class="center">Image</th>
						</tr>
					</thead>

					<tbody>
						{% for meal in meals %}
							<tr>
								<td scope="row">{{meal.id}}</td>
								<td><a href="{% url 'restaurant-edit-meal' meal.id %}">{{ meal.name }}</a></td>
								<td>{{ meal.short_description }}</td>
								<td>{{ meal.price }}</td>
								<td class="center"><img src="{{ MEDIA_URL }}{{ meal.image }}" alt="" class="img circle" width="50" height="50"></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
{% endblock content%}