{% extends "foodtaskerapp/base_signup.html" %}
{% load materializecss %}
{% block title %} Sign in {% endblock title%}

{% block content %}

	<h3>Sign in page</h3>
	<form method="POST">
		{% csrf_token %}
		{{ form|materializecss }}
		<button type="submit" class="btn btn-pink right"> Sign In</button>
	</form>
	<a href="{% url 'restaurant-sign-up' %}">Become a Restaurant  </a>
	<!-- <a href="{% url 'social:begin' 'facebook' %}?next={{restaurant}}" class="btn blue accent-3">Login in Facebook</a> -->
{% endblock content %}