{% extends "foodtaskerapp/base_signup.html" %}
{% load materializecss %}
{% block title %} Sign Up {%endblock title%}

{% block content %}
	<h3>Sign up page</h3>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<h4>Owner Info</h4>
		{{ user_form|materializecss }}
		<h4>Restaurant Info</h4>
		{{ restaurant_form|materializecss }}
		<button type="submit" class="btn btn-pink right"> Sign Up</button>
	</form>
	<a href="{% url 'restaurant-sign-in' %}">Already have an account? Sign In</a>
	<!-- <a href="{% url 'social:begin' 'facebook' %}?next={{restaurant}}" class="btn blue accent-3">Sign Up Facebook</a> -->
{% endblock content %}